.navbar{
    background-color: pink;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}
.navbar a img {
    width: 10em; 
    height: auto; 
    display: block; 
}
.navleft{
    justify-content: flex-start;
    
}
.navright{
    justify-content: flex-end;
}
.button-container {
    display: flex;
    background-color: lightcoral; 
    padding: 10px; 
    border-radius: 10px; 
    list-style-type: none;
}

/* code for the fucking catalogue now I guess */
