.navbar{
    background-color: pink;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    background-color: lightcoral; 
    padding: 10px; 
    border-radius: 10px; 
}
.navbar a img {
    width: 10em; 
    height: auto; 
    display: block; 
}


/* code for the damned catalogue now I guess */
